<html lang="en">

    <%- include('partials/head.ejs') %>

<body>

    <%- include('partials/navbar.ejs') %>

    <div class="notes content">
        <h1><%= title %></h1>
        <% if (notes.length > 0) { %>
            <% notes.forEach(note => { %>
                <a class="single-note" href="/notes/<%= note._id %>">
                    <h3 class="title"><%= note.title %></h3>
                    <p class="date"><%= moment(note.createdAt).calendar() %></p>
                    <p class="snippet"><%= note.snippet %></p>
                    <p class="user"><%= note.user.displayName %></p>
                </a>
            <% }) %>
        <% } else { %>
            <p>There aren't any notes yet...</p>
            <p>Create your first note?</p>
            <button onclick="window.location.href = './notes/create-new-note';">Yes!</button>
        <% } %>
    </div>
</body>
</html>