<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="single-note content">
        <div class="left">
            <h1><%= note.title %></h1>
            <div class="note-body">
                <p><%= note.body %></p>
            </div>
            
            <% if(loggedUser.toString() == note.user._id.toString()){ %>
                <a href="/notes/edit/<%= note._id %>" class="edit">Edit Note</a>
                <a data-doc="<%= note._id %>" class="delete">Delete Note</a>
            <% } %>    
        </div>

        <div class="right">
            <img src="<%= note.user.image %>" class="user-image">
            <h3><%= note.user.displayName %></h3>
            <a href="/notes/user/<%= note.user._id %>" class="user-btn">More</a>
        </div>
    </div>

    <script>
        // front end delete request
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/notes/${ trashcan.dataset.doc }`;
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())    // create JS object from the response json sent from server
            .then((data) => window.location.href = data.redirect)   // redirect to notes
            .catch((err) => console.log(err))
        })
    </script>
</body>
</html>